$primary-color: #FFD700; // Amarelo
$secondary-color: #000000; // Preto

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; // Preenche a altura da tela
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: $primary-color;

    h2 {
        margin-bottom: 20px;
        font-size: 2rem;
        text-align: center;
        color: $primary-color;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px; // Limita a largura do formulário

        label {
            margin-bottom: 5px;
            font-size: 1.2rem;
            color: $primary-color;
        }

        input {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid $primary-color;
            border-radius: 5px;
            background-color: $secondary-color;
            color: $primary-color;
            font-size: 1rem;

            &::placeholder {
                color: $primary-color; // Cor do placeholder
                opacity: 0.8; // Faz o placeholder um pouco mais claro
            }

            &:focus {
                outline: none; // Remove o contorno padrão
                border-color: lighten($primary-color, 20%); // Muda a cor do border ao focar
            }
        }
    }

    button {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 10%); // Escurece ao passar o mouse
        }

        &:focus {
            outline: none; // Remove o contorno padrão
        }
    }
}
